ul{
    text-align: left;
}

img {
    max-width: 100%;
    width: 100%;
}

header {
    font-family: sans-serif;
    text-align: center;
}

.center {
    text-align: center;
}

.px-20 {
    padding: 0 20px;
}

.py-60 {
    padding: 60px 0;
}

.bg-image {
    background-image: url(../assets/img/Bagan.jpg);
}

.box-wrapper {
    display: flex;
    /* အလျားလိုက်တန်းစီချင်တဲ့အခါရေး */
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
}

.box {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 10px 5px 5px gray;
    border: 1px solid whitesmoke;
    background-color: white;
}

.box img {
    width: 100%;
    object-fit: cover;
}

.about-myanmar {
    background-color: bisque;
}

.tourist-attraction {
    background-color: lightblue;
}

.famous-food {
    background-color: rgb(238, 238, 238);
}

.famous-people {
    background-color: lightsalmon;
}

.culture {
    background-color: bisque;
}

.currency, .language {
    display: flex;
}

.currency img, .language img {
    width: 30%;
}

.currency .text, .language .text {
    width: 70%;
    padding: 0 20px;
}
