img{
    max-width: 100%;
    width: 100%;
}

h2{
    text-align: center;        
}

header{
    /* background-image: url("assets/img/Bagan.jpg"); */
    font-family: sans-serif;
    text-align: center;
}

.bg-image{
    background-image:url(../assets/img/Bagan.jpg);
}

.box-wrapper{
    display: flex;  /* အလျားလိုက်တန်းစီချင်တဲ့အခါရေး */
    justify-content:space-around;
    align-items: stretch;
}

.box{
    width:30%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 10px 5px 5px gray;
    border: 1px solid whitesmoke;
}


